
/* INTRODUION A IMAGENES DE LOS PELUCHES
-intro es todo el espacio amarillo */

.intro {
    display: flex;
    flex-direction: column;
    width:48%;
    font-size:20px;
    margin-top: 80px;
    margin-left:25%;
    margin-bottom: 25px;
    background-color: gold;
    border-radius: 50px;
    
    
}

.intro .h2,.h2-2 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.intro .texto p{
    text-align: center;
}
.ryan-img {
    display: flex;
    justify-content: center;
}
.ryan-gif{
    width: 350px;
}
.h2-2 {
    display: flex;
    justify-content: center;
}

.texto {
    display: flex;
    justify-content: center;
}

/* DIV DONDE ESTAN LAS CAJITAS PARA LOS PELUCHES*/
.peluches{
    width: 96%;
    height: max-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

/* CAJITAS PARA LOS PELUCHES*/
.cajita {
    width: max-content;
    height:max-content;
    background-color: rgb(224, 235, 240);
    border-radius: 50px;
    margin: 6px;
}

.cajita img{
    width: 220px;
    height: 300px;
   
}



